body{
  background-image:  url(images/pole2.jpg);
 }

.game{
    width: 600px;
    height: 200px;
    border-bottom: 3px solid black;
    margin: auto;
}

#dino{
  width: 50px;
  height: 50px;
  background-image: url(images/dino.png);  
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#caktus{
  width: 40px;
  height: 60px;
  background-image: url(images/ronaldo.png);
  background-size: 40px 60px;
  position: relative;
  top: 90px;
  left: 580px;
  animation: caktusMov 1s infinite linear;

}
@keyframes caktusMov {
  0%{
    left: 580px;
  }
  100%{
    left: -20px;
  }
}

.jump{
  animation: jump 0.5s linear;
}

@keyframes jump{
  0%{
    top:150px;
  }
  30%{
      top: 130px;
  }
  50%{
    top: 80px;
}
80%{
  top: 130px;
}
  100%{
    top: 150px;
  }
}

